@import "../../../bootstrap/css/bootstrap.css";


@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');




.square-outside {
	padding: 0px;
	padding-bottom: 33%;
	background-color: #8be1ed;
	position:relative;
}
.square-inside {
	display: flex;
	position: absolute;
	background-color: #1191b4;
	padding:10px;
	margin:10%;
	width:80%;
	height:80%;
	align-items: center;
	text-align: center;
	transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s, right 0.5s, bottom 0.5s, padding 0.5s, margin 0.5s;
}
.square-inside:hover {
	background-color: #00c8ff;
}
.picked {
	opacity: 50%;
}




.rokkitt {
	font-family: 'Rokkitt', serif;
}

.middle {
	padding:0px;
	max-width: 600px;
	font-size: 1em;
	font-size: 3.5vw;
}
@media (min-width: 600px) {
	.middle {
		font-size: 1em;
	}	
}


.center {
	margin: 0 auto;	
}



.free-space {
	font-size: 1.7em;
	font-size:5vw;	
	color: white;
	font-weight: bold;
}
@media (min-width: 600px) {
	.free-space {
		font-size: 1.7em;
	}	
}


.big {
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-size: 4em;
	font-size: 7vw;
	opacity: 100%;	
}
@media (min-width: 600px) {
	.big {
		font-size: 4em;
	}	
}






a {
	color: rgb(0, 0, 0);
}
h1 {
	font-family: 'Rokkitt', sans-serif;
	font-size: 36px;
	color: rgb(0, 124, 173);
}
body {
	background-color: #ffffff;
	display:flex;
	justify-content: center;
}


* {
	box-sizing: border-box;
}