@import "../bootstrap/css/bootstrap.css";



.sharpcorners
{
	border-radius:0;
}


.lightbluebg
{
	background-color:#EEEEFF;
}



.myfooter
{
	padding:30px;
	text-align:center;
}


.mypaddedbody
{
  padding-top:100px;
}
