/* 
@import "../../../bootstrap/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');
*/

a {
	color: rgb(0, 0, 0);
}
h2 {
	font-family: 'Rokkitt', sans-serif;
	font-size: 36px;
	color: rgb(255, 123, 0);
}
body {
	background-color: #000000;
}
  
.btn-dark {
    background-color: rgb(255, 123, 0);
    border-color: rgb(255, 123, 0);
}
.btn-dark:hover {
    background-color: #c14b2b;
    border-color:#c14b2b;
}

.form-range::-webkit-slider-thumb {
    background: rgb(255, 123, 0);
}
.form-range::-moz-range-thumb {
    background: rgb(255, 123, 0);
}
.form-range::-ms-thumb {
    background: rgb(255, 123, 0);
}


.backdropimage {
	background-image: url('../images/grass.jpg');
	background-repeat: no-repeat;
	position: fixed; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0;
	background-size: cover;
	background-position: right top;
	z-index: -9;
	display: block;
}
.backdropimage2 {
	margin-bottom: 10px;
	width: 100%;
	display: none;
}
@media screen and (max-width: 768px) {
	.backdropimage {
		display: none;
	}
	.backdropimage2 {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.sticky-top {
		position:static;
	}
}


header {
	padding: 0px 0px 6.7% 0px;
	margin: 0px 0px 0px 0px;
	transition: all 1s;
	background-image: url("../images/top.svg");
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}
  
#headerhead {
	color: white;
	font-size: 44px;
	font-family: 'Rokkitt', sans-serif;
	margin: 0px 0px -2px 0px;
	padding: 20px 30px 0px 30px;
	background-color: #c14b2b;
}
@media screen and (min-width: 851px) {
	#headerhead {
		display:none;
	}
}
	#headerhead2 {
		color: white;
		font-size: 48px;
		font-family: 'Rokkitt', sans-serif;
		margin: 0px 0px -2px 0px;
		padding: 20px 30px 0px 30px;
		background-color: #c14b2b;
  }
@media screen and (max-width: 850px) {
	#headerhead2 {
		display:none;
	}
}

#weatheralertouter {
	background-color: #c14b2b;
	margin: 0px;
	padding: 0px;
	display: none;
}

#weatheralert {
	background-color: rgb(255, 123, 0);
	padding: 16px 20px 5px 20px;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 30px;
	z-index: 9;
	cursor: pointer;
}

@media screen and (max-width: 1400px) {
	#weatheralertouter {
		background-color: #c14b2b;
		margin: 0px 0px -20px 0px; 
		padding: 10px 10px 1px 10px;
	}
	#weatheralert {
		position: static;
		top: 0px;
		right: 0px;
		margin: 20px;        
	}
}

#weatheralerthead {
	color:#ffffff;
	font-size: 32px;
}
#weatheralerthead2 {
	color:#ffffff;
	font-size: 28px;
	display: none;
}
#weatheralertbody {
	display: none;
}
  
#location {
	margin: -2px 0px -1px 0px;
	padding: 0px 30px 1px 30px;
	background-color: #c14b2b;
}
#dailyforecast {
	margin: 0px 0px 0px 0px;
	padding: 10px 30px 10px 30px;
}
#hourlyforecast {
	background-color: rgb(255, 204, 138);
	margin: 50px 50px 2000px 50px;
	padding: 20px 20px 5px 20px;
	border-radius: 10px;
}
footer {
	background-color: #c14b2b;
	margin: 0px;
	padding: 20px;
}

  
.daily-abbreviated {
	background-color: rgba(255,255,255, 0.9);
	margin: 40px 10px 10px 10px;
	padding: 10px 20px 1px 20px;
	border-radius: 10px;
	font-size: 14px;
	height:fit-content;
	overflow-wrap: break-word;
	transition: all 1s;
}

.daily-full {
	background-color: #fffc67;
	padding: 30px 30px 15px 30px;
	border-radius: 10px;
	margin: 10px;
	transition: all 1s;
	
}
.daily-full div:focus {
	outline:none;
}

.circle {
	background-color: #fffc67;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	padding-top:16px; 
	margin: 10px auto -45px auto;
	cursor: pointer;
	font-family: 'Rokkitt', sans-serif;
	font-size: 36px;
	font-weight:bold;
	color: rgb(255, 123, 0);
	position: relative;
	top:-50px;
	box-shadow: rgba(150, 150, 150, 0.3) 0px 8px 24px;

}
.circle:hover {
	background-color: #ffffff;
	box-shadow: rgba(150, 150, 150, 0.6) 0px 8px 24px;
}
    
.hourly{
	background-color: antiquewhite;
	margin:20px 0px;
	padding:20px;
	columns: 620px 2;
}


@media screen and (max-width: 767px) {
	#hourlyforecast {
		margin: 20px 20px 2000px 20px;
	}
	#dailyforecast {
		margin: 0px;
		padding: 10px;
	}
	.daily-full {
		margin-left: 0px;
		margin-right: 0px;
	}
	.daily-abbreviated {
		margin-left: 0px;
		margin-right: 0px;
	}
	#weatheralerthead {
		display:none;
	}
	#weatheralerthead2 {
		display:block;
	}
}

.hidden {
	display: none;
}

.visible {
	display: block;
}


.rokkitt {
	font-family: 'Rokkitt', serif;
}



* {
	box-sizing: border-box;
}